In [1]:
import pandas as pd

In [2]:
ruta_csv = "C:\\Users\\Kevin\\OneDrive\\Documentos\\VERANO DELFIN\\defunciones\\DEFUN_2020\\conjunto_de_datos_defunciones_registrados_2020.csv"
df = pd.read_csv(ruta_csv)
df.head()

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1,1,1,1,15,1,1,1,15,1,...,2020,NaN,2,9,88,88,888,8888,0,999
1,1,1,1,1,15,1,1,1,15,1,...,2020,NaN,9,9,88,88,888,8888,0,999
2,1,1,1,1,15,1,1,1,15,1,...,2020,NaN,2,2,88,88,888,8888,0,999
3,1,1,1,1,15,1,1,1,15,1,...,2020,NaN,9,9,88,88,888,8888,0,999
4,1,6,1,9,4,1,1,9,4,1,...,2020,NaN,2,1,88,88,888,8888,0,999

In [7]:
df_fecha = df[["dia_ocurr","mes_ocurr","anio_ocur"]]
df_fecha.sort_values(by=["anio_ocur","mes_ocurr","dia_ocurr"], ascending=True)
df_fecha.loc[df_fecha["anio_ocur"] == 2010].sort_values(by=["mes_ocurr","dia_ocurr"], ascending=True)

         dia_ocurr  mes_ocurr  anio_ocur
963972          18          1       2010
169868          16          2       2010
864142          16          2       2010
81971           25          2       2010
49770           26          2       2010
304322          13          3       2010
864121          26          3       2010
304100           7          5       2010
368258          10          5       2010
304246          12          5       2010
864084           2          6       2010
955111           9          6       2010
642625          10          6       2010
943554          28          6       2010
706485          11          7       2010
706319          17          7       2010
718766          20          7       2010
702231          27          7       2010
863906           8          8       2010
50357           10          8       2010
863872          12          8       2010
99849           13          8       2010
615086          17          8       2010
864024          19          8       2010
954580          28          8       2010
308088           4          9       2010
72475           16          9       2010
57987           19          9       2010
58129           29          9       2010
943416          13         10       2010
670118          15         10       2010
864078          20         10       2010
304315           9         11       2010
867469          13         11       2010
67109           15         11       2010
304674          17         11       2010
496195          22         11       2010
73695           22         12       2010
1072259         23         12       2010
72705           29         12       2010